.btn {
    font-family: 'Unica One', cursive;
    color: var(--color-btn);
    border: solid 2px var(--color-btn);
    border-radius: 30px;
    font-size: 24px;
    letter-spacing: 0.12em;
    padding: 20px 60px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        color: black;
        background-color: var(--color-btn);
        box-shadow: 0 0 50px rgba(245, 223, 17, 0.27);
        transform: translateY(-5px);
    }
}
@media screen and (max-width: 500px) {
    .btn {
        padding: 15px 20px;
    }
}