footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url('../../img/footer.jpg');
    background-size: cover;
    background-position: center left;
    height: 324px;
    display: flex;
    align-items: center;

    .footerInfo {
        font-family: 'Verdana', sans-serif;
        margin-left: 130px;

        p {
            font-weight: bold;
            font-size: 18px;
            line-height: 2rem;
            letter-spacing: 0.1em;
            text-transform: lowercase;
            color: black;
        }
    }
}

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 740px) {
    footer {
        .footerInfo {
            margin-left: 2rem;
        }
    }
}