.banner {
    background-image: url('./img/banner.jpg');
    background-size: cover;
    background-position: center center;

    border-radius: 2rem;
    box-shadow: 0px 20px 50px rgba(245, 223, 17, 0.1);

    padding: 150px 0;
}

.banner-content {
    margin-left: 127px;
    min-height: 248px;
}

h1 {
    font-family: 'Unica One', cursive;
    font-size: 96px;
    letter-spacing: 0.12em;
    margin: 0;
    color: #fff;
}

.banner-content p {
    font-family: 'Verdana', sans-serif;
    font-size: 36px;
    letter-spacing: 0.10em;
    color: var(--color-first);
    margin: 0;
    margin-bottom: 1.5rem;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 740px) {
    .banner-content {
        margin-left: 2rem;
    }

    h1 {
        font-size: 66px;
    }

    .banner-content p {
        font-size: 17.5px;
    }
}